<H2>Про 3д ручки Myriwell</H2>
<p><span>3D ручка </span>- це іграшка для створення інших іграшок. Ручка малює тонкою смугою пластика, який через 3-5
    сек. застигає.
    Наприклад, дитина малює чоловічка: він обводить і розфарбовує надруковане зображення, а потім легко відклеює його
    від
    паперу. Намалювати можна все, що завгодно! <a>► дивитися приклади робіт.</a></p>
<p><span>Чому MYRIWELL</span> стала так популярна? Секрет простий: коли ви берете оригінал MYRIWELL ви отримуєте 100%
    робочу ручку, зроблену з якісних матеріалів, з гарантією.</p>
<p><span>Як відрізнити MYRIWELL?</span>
<ul>
    <li>голограма MYRIWELL на корпусі 3D ручки,</li>
    <li>напис MYRIWELL на коробці і корпусі 3D ручки,</li>
    <li>буквено-цифровий унікальний код на кожній ручці.</li>
</ul>
</p>
<div>
    <H3>RP-100A</H3>
    <img src="./images/min_RP-100A_mv2.webp" alt="3д ручка Myriwell RP-100A" width="330px">
</div>
<div>
    <H3>RP-100B</H3>
    <img src="./images/min_RP-100B_mv2.webp" alt="3д ручка Myriwell RP-100B" width="330px">
</div>
<diw>
    <H3>RP-100C</H3>
    <img src="./images/min_RP-100C_mv2.webp" alt="3д ручка Myriwell RP-100C" width="330px">
</diw>
<div>
    <H3>RP-200B</H3>
    <img src="./images/min_RP-200B_mv2.webp" alt="3д ручка Myriwell RP-200B" width="330px">
</div>