<H2>Наші переваги</H2>
<ul>
    <li>
        <svg class="icon-soc" width="75" height="75">
            <use href="./images/symbol.svg#icon-shield"></use>
        </svg>
        <h3>Гарантія 3 роки</h3>
    </li>

    <li>
        <svg class="icon-soc" width="50" height="75">
            <use href="./images/symbol.svg#icon-pen"></use>
        </svg>
        <h3>Превіряємо ручки перед відправкою</h3>
    </li>

    <li>
        <svg class="icon-soc" width="102" height="102">
            <use href="./images/symbol.svg#icon-bus"></use>
        </svg>
        <h3>Відправка в день замовлення</h3>
    </li>

    <li>
        <svg class="icon-soc" width="96" height="96">
            <use href="./images/symbol.svg#icon-cash_back"></use>
        </svg>
        <h3>Обмін / повернення</h3>
    </li>
</ul>