<H2>Відмінності моделей MYRIWELL</H2>

<h3>RP-100A</h3>
<p>- З'явилася в 2013р і саме завдяки цій моделі ручки Myriwell стали так популярні. Компанія показала, що робить ставку на якість і зараз продовжує йти цим шляхом.
- Ручка проста у використанні і зручна.
- Зручно зроблена регулювання швидкості, під час малювання Ви просто рухаєте бігунок.
- Є система безпеки, якщо Ви не малюєте 2 хвилини, ручка перестає нагріватися.
- Малювати може і ABS і PLA пластиком. Правда, щоб переналаштувати ручку на інший пластик знадобиться викрутка. Для цього
вам доведеться відкрити заглушку і відрегулювати спеціальний гвинт. Цей недолік виправили в наступній моделі.</p>

<h3>RP-100B</h3>
<p>Відрізняється наявністю дисплея. Тип пластика Ви вибираєте кнопками і відразу бачите результат на дисплеї, що дуже
зручно. В іншому ці ручки схожі. Підтримує ABS і PLA пластик. Працює від розетки.
Беріть цю модель, якщо Ви хочете отримати якісну 3Д ручку за невеликі гроші.</p>

<h3>RP-100C</h3>
<p>Головна її відмінність це тонкий корпус. Вона в половину тонше попередньої. А так, як дитяча рука менше дорослою,
малювати цією ручкою дитині набагато зручніше.
Крім того, працює вона від USB. Це означає, що ви можете включити її в Power Bank і взяти з собою.
Малювати ручка може з типами пластика ABS і PLA.
Корпус виконаний з алюмінію, в руках таку ручку тримати приємніше, ніж пластикову, та й виглядає вона красивіше.
Упакована в подарункову коробку.
Зараз це найпопулярніша модель Myriwell. Якщо шукаєте хороший подарунок для дитини, сміливо беріть цю ручку.</p>

<h3>RP-200B</h3>
<p>Це найкраще з того, що зараз є серед 3Д ручок.
За рахунок того, що в ручку вмонтовано батарея, ручка може працювати без підзарядки до 2х годин.
Іншими словами, тепер для малювання вам потрібна тільки ручка і пластик, більше не заважають дроти! І це дійсно зручно.
Малювати можете PLA і PCL пластиком.
Також, в комплекті йде спеціальна підставка. Вона стійка і легко утримає ручку. Крім того, сюди вбудована бездротова
зарядка. Щоб ручка заряжалась, просто вставте її в підставку.
І все це упаковано в більшу, красиву, подарункову коробку.
Якщо Ви звикли отримувати все найкраще, беріть саме цю ручку!</p>