<header>
    <img src="../images/logo_mv2.webp" alt="myriwell logo">
    <ul>
        <li><a class="tel" href="tel:+380737031001">Life: 073 703 1001</a></li>
        <li>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSeLalPnVJZsX0YpAL3h8QUoNAsvkIJDth1V6hATRkw5_TtVwg/viewform?usp=sf_link">Зателефнуйте мені</a>
        </li>
    </ul>
    <ul class="soc">
        <li>
            <a href="https://instagram.com/myriwell.net.ua" aria-label="instagram" class="soc-link" target="_blank" rel="noreferrer noopener">
                <svg class="icon-soc" width="20" height="20">
                    <use href="./images/icons.svg#icon-telegram"></use>
                </svg>
            </a>
        </li>
    </ul>
   <nav>
        <ul>
            <li><button type="button" >3D ручки</button></li>
            <div>
                <li><button type="button">MyRiwell RP-100A</button></li>
                <li><button type="button">MyRiwell RP-100B</button></li>
                <li><button type="button">MyRiwell RP-100C</button></li>
                <li><button type="button">MyRiwell RP-200B</button></li>
            </div>
            <li><button type="button" >Пластик</button></li>
            <li><button type="button" >Гарантія</button></li>
            <li><button type="button" >Акції</button></li>
            <li><button type="button" >Інфо</button></li>
            <li><button type="button" >Google Карти</button></li>
        </ul>
   </nav>
   <ul>
    <li><button type="button" >UKR</button></li>
    <li><button type="button" >ORK</button></li>
   </ul>
</header>