<header>
    <img src="./images/logo_mv2.webp" alt="myriwell logo" width="450px" >
    <ul>
        <li><a class="tel" href="tel:+380737031001">Life: 073 703 1001</a></li>
        <li>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSeLalPnVJZsX0YpAL3h8QUoNAsvkIJDth1V6hATRkw5_TtVwg/viewform?usp=sf_link">Зателефнуйте мені</a>
        </li>
    </ul>
    <ul class="soc">
        <li>
            <a href="https://instagram.com/myriwell.net.ua" aria-label="instagram" class="soc-link" target="_blank" rel="noreferrer noopener">
                <svg class="icon-soc" width="40" height="40">
                    <use href="./images/symbol.svg#icon-instagram"></use>
                </svg>
            </a>
        </li>
    </ul>
   <nav>
        <ul>
            <li><a href="">3D ручки</a></li>
            <div>
                <li><a href="">MyRiwell RP-100A</a></li>
                <li><a href="">MyRiwell RP-100B</a></li>
                <li><a href="">MyRiwell RP-100C</a></li>
                <li><a href="">MyRiwell RP-200B</a></li>
            </div>
            <li><a href="">Пластик</a></li>
            <li><a href="">Гарантія</a></li>
            <li><a href="">Акції</a></li>
            <li><a href="">Інфо</a></li>
            <li><a href="">Google Карти</a></li>
        </ul>
   </nav>
   <ul>
    <li><a href="">UKR</a></li>
    <li><a href="">ORK</a></li>
   </ul>
</header>