<h2>MyRiwell RP-100A</h2>
<img src="" alt="">
<h3>Для кого ?</h3>
<p>Перше покоління MyRiwell RP100A - найдоступніша 3D ручка. Якщо Ви впевнені, що дитина буде гратися ручкою рідко або
недовго і хочете просто спробувати що таке 3D ручка, беріть цю модель.</p>
<h3>Опис</h3>
<p>Максимально проста у використанні.

Кнопки управління зручно лежать під вказівним і великим пальцями.

Поєднання якості, надійності і доступності зробило 3d pen MyRiwell rp100a найпопулярнішою 3д ручкою.

Саме завдяки цій моделі MyRiwell став еталоном і прикладом для наслідування.</p>
<h3>Характеристики</h3>
<ul>
    <li>Виробник: MyRiwell</li>
    <li>Товщина пластикової нитки: 1.75мм</li>
    <li>Типи пластика: PLA, ABS</li>
    <li>Діаметр сопла: 0.7мм</li>
    <li>Харчування: від мережі 220В</li>
    <li>У комплекті: MyRiwell RP-100A, блок живлення, інструкція англійською та українською, оригінальна упаковка.</li>
    <li>Гарантія: 3 роки!</li>
</ul>
<button type="button">Де купити</button>