

<ul>
    <li>
        <!-- MyRiwell RP-100A -->
        <h2>MyRiwell RP-100A</h2>
        <img src="./images/RP100A-500.webp" alt="MyRiwell RP-100A">
        <h3>Для кого ?</h3>
        <p>Перше покоління MyRiwell RP100A - найдоступніша 3D ручка. Якщо Ви впевнені, що дитина буде гратися ручкою рідко або недовго і хочете просто спробувати що таке 3D ручка, беріть цю модель.</p>
        <h3>Опис</h3>
        <p>Максимально проста у використанні.
            Кнопки управління зручно лежать під вказівним і великим пальцями.
            Поєднання якості, надійності і доступності зробило 3d pen MyRiwell rp100a найпопулярнішою 3д ручкою.
            Саме завдяки цій моделі MyRiwell став еталоном і прикладом для наслідування.</p>
        <h3>Характеристики</h3>
        <ul>
            <li>Виробник: MyRiwell</li>
            <li>Товщина пластикової нитки: 1.75мм</li>
            <li>Типи пластика: PLA, ABS</li>
            <li>Діаметр сопла: 0.7мм</li>
            <li>Живлення: від мережі 220В</li>
            <li>У комплекті: MyRiwell RP-100A, блок живлення, інструкція англійською та українською, оригінальна упаковка.</li>
            <li>Гарантія: 3 роки!</li>
        </ul>
        <button type="button">Де купити</button>
        <div></div>
    </li>

    <li>
        <!-- MyRiwell RP-100B -->
        <h2>MyRiwell RP-100B</h2>
        <img src="./images/RP100B-500.webp" alt="MyRiwell RP-100B">
        <h3>Для кого ?</h3>
        <p>Друге покоління MyRiwell RP100B, дуже зручна ручка з оптимальним співвідношенням ціна - якість. Завдяки дисплею сильно спростилася настройка температури і вибір пластика для малювання. Якщо Ви шукайте подарунок за невеликі гроші і Вам важлива якість то беріть цю ручку.</p>
        <h3>Опис</h3>
        <p>MyRiwell RP100B зберегла всі переваги попередньої моделі. Кнопки подачі пластика і зміни швидкості малювання зручно лежать під вказівним і великим пальцями. Крім того тепер за допомогою дисплея можна перемикатися між різними типами пластика і легко виставляти температуру нагрівання аж до 1 градуса, це зручно при малюванні на різних швидкостях, коли потрібно повільно зробити чіткий контур і швидко замалювати всередині цього контуру.</p>
        <h3>Характеристики</h3>
        <ul>
            <li>виробник: MyRiwell</li>
            <li>товщина пластикової нитки: 1.75мм</li>
            <li>типи пластика: PLA, ABS</li>
            <li>діаметр сопла: 0.7мм</li>
            <li>живлння: від мережі 220В</li>
            <li>комплектація: MyRiwell RP-100B, блок живлення, інструкція англійською та українською, оригінальна упаковка</li>
            <li>І нструкц англійською та українською</li>
            <li>гарантія: 3 роки!</li>
        </ul>
        <button type="button">Де купити</button>
        <div></div>
    </li>

    <li>
        <!-- MyRiwell RP-100C -->
        <h2>MyRiwell RP-100C</h2>
        <img src="./images/RP100C-500.webp" alt="MyRiwell RP-100C">
        <h3>Для кого ?</h3>
        <p>Третє покоління MyRiwell RP100C - найпопулярніша модель. Дуже красива 3D ручка, підійде в якості подарунка. А також підійде для дітей з невеликою долонькою, так як ручка тонше майже в 2 рази дитині малювати нею значно легше. Замовляйте цю модель дітям а також якщо хочете щоб Ваш подарунок приємно виділявся серед інших.</p>
        <h3>Опис</h3>
        <p>Третє покоління MyRiwell RP100C подарунковий варіант ручки. Корпус з приємного на дотик анодованого алюмінію. Ручка упакована в подарункову упаковку. Крім того, в цій моделі харчування від USB, а значить можна використовувати Power Bank, а не сидіти біля розетки. Але головна перевага цієї ручки в тому, що дітям тримати її легше, адже вона майже в 2 рази тонше інших.</p>
        <h3>Характеристики</h3>
        <ul>
            <li>Виробник: MyRiwell</li>
            <li>Товщина пластикової нитки: 1.75мм</li>
            <li>Типи пластика: ABS, PLA, PCL</li>
            <li>Діаметр сопла: 0.6мм</li>
            <li>Харчування: від мережі 220В</li>
            <li>У комплекті: MyRiwell RP-100С, USB кабель живлення, подарункова упаковка</li>
            <li>І нструкц англійською та українською</li>
            <li>Гарантія: 3 роки!</li>
        </ul>
        <button type="button">Де купити</button>
        <div></div>
    </li>

    <li>
        <!-- MyRiwell RP-200B -->
        <h2>MyRiwell RP-200B</h2>
        <img src="./images/RP200B-500.webp" alt="MyRiwell RP-200B">
        <h3>Для кого ?</h3>
        <p>П'яте покоління MyRiwell RP200B найкраще з того, що зараз є серед 3д ручок! Перевірена часом, зручна для малювання конструкція + вбудований акумулятор дає дитині повну свободу творчості. Малювати можна без підключення проводів і там, де це зручно. Якщо Вам потрібна найкраща 3D ручка беріть саме цю модель.</p>
        <h3>Опис</h3>
        <p>MyRiwell RP200B найкращий варіант, що зараз пропонує ринок 3Д ручок. Ця ручка має вбудовану батарею і Ви можете малювати
        до 2 годин без підзарядки. Також в комплекті є спеціальна підставка, яка легко утримує ручку навіть з мотком пластика.
        До того ж в цю підставку вбудована бездротова зарядка і ручка заряджається, як тільки Ви покладете її в підставку.</p>
        <p>Ручка MyRiwell RP200B працює з PCL і PLA пластиком, самими екологічними і безпечними видами пластику.</p>
        <p>Крім того, в цій моделі збережений зручний дизайн MyRiwell RP100B, що дозволяє легко малювати довгий час і плавно
        регулювати швидкість подачі пластика. Також MyRiwell RP200B упакована в подарункову упаковку і якщо Ви хочете подарувати
        дітям краще - це те, що Вам треба!</p>
        <h3>Характеристики</h3>
        <ul>
            <li>Виробник: MyRiwell</li>
            <li>Товщина пластикової нитки: 1.75мм</li>
            <li>Типи пластика: PLA, PCL</li>
            <li>Діаметр сопла: 0.7мм</li>
            <li>Живлення: від акумулятора, бездротова зарядка</li>
            <li>У комплекті: MyRiwell RP-200B, підставка, блок живлення, подарункова упаковка</li>
            <li>І нструкц англійською та українською</li>
            <li>Гарантія: 3 роки!</li>
        </ul>
        <button type="button">Де купити</button>
    </li>
</ul>